    $black:       #1a1a1a;
    $off-black:   #294022;
    $grey:        #cccccc;
    $dark-grey:   #3D3D3D;
    $light-grey:  #f9f9f9;
    $red:		      #a11a1a;
    $blue:        #1266FE;
    $orange:      #FE7E07;
